<%= javascript_include_tag 'rails.validations' %>
<%= javascript_include_tag 'rails.validations.custom' %>
<%= form_for @user, :validate => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :andrew, 'AndrewID' %><br />
    <%= f.text_field :andrew %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, "Password (Do not use your AndrewID password)" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>	
<% end %>


