<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CMU Connect" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	
	<div id="header">
		<%= link_to image_tag('logo.png'), :welcome %>
		<div id="navigation">
				<%=render :partial => "partials/navigation" %>
		</div>
	</div>
	
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

	
		
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

		<%=render :partial => "partials/footer" %>
    </div>
  </body>
</html>
