<!DOCTYPE html>
<html>
  <head>
	<link rel="shortcut icon" href="/assets/favicon.ico" />
    <title><%= content_for?(:title) ? yield(:title) : "CMU Connect" %></title>
    <%= stylesheet_link_tag "landing" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<script>
		$(document).ready(function(){
		  $("label").inFieldLabels();
		});
	</script>
  </head>
  <body>
	<% if current_user %>
		<body onload = "window.location = '/welcome' ">
	<% else %>
		<body>
	<% end %>
	
	<div id="header">
		<div id="login-header">
		<%= form_tag sessions_path do %>
		    <%= text_field_tag :login, params[:login], :placeholder	 => "Username or Email" %>
		    <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
		     <%= submit_tag "Log in" %>	
		<%= link_to "Sign Up!", signup_path %>
		<% end %>
		
		
		</div>
	</div>
	
	
	<div id="container">
			<%= image_tag('biglogo.png') %>
		<p id="landing-message">
			We are changing the way	the CMU community interacts.
		</p>
		
    </div>

	<div id="outer-footer">
		<%=render :partial => "partials/footer" %>
	</div>

  </body>
</html>
