<div id="chatbox" class="login">
	<h1>Social Chat Lobby</h1>

	<p>Use the IM Chatroom to see who's online, or enter the Random Chat cycle to be paired up for a video session with another Tartan.</p>


	<h2>IM Chatroom</h2>

	<div id="random_chat_links">
		<%= image_tag("random.png") %> <%= link_to "Enter Random Chat!", :roulette %>
	</div>

	<div id="textbox">
		<ul id="chat">
		  <%= render @messages %>
		</ul>
	</div>
		<%= form_for Message.new, :remote => true do |f| %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.text_field :content %>
		  <%= f.submit "Send" %>
		<% end %>
</div><!-- end chatbox -->
