<div id="chatbox" class="login">
	<h1>Social Chat Lobby</h1>

	<%= link_to (:roulette) do %>
		<div class="green_button">
			<%= image_tag("random.png") %> Enter Random Chat!
		</div>
	<% end %>

	<p>Find out who's online in the IM Chatroom below, or select the button on the right to start video chatting with other Tartans!</p>

	
	<h2>IM Chatroom</h2>


	
	<div id="active_users">
		<h3>Other users logged on:</h3>
		<% $logged_in_user.each do |i| %>
		<%= User.find(i).username %>
		<% end %>
	</div>

	<div id="textbox">
		<ul id="chat">
		  <%= render @messages %>
		</ul>
	</div>
		<%= form_for Message.new, :remote => true do |f| %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.text_field :content %>
		  <%= f.submit "Send" %>
		<% end %>
</div><!-- end chatbox -->
