<div id="chatbox" class="login">
<h1>Random Chat Lobby</h1>
<h2><%= link_to "ROULETTE", :roulette %></h2>
<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>
</div><!-- end chatbox -->
