	<h1>Social Chat Lobby</h1>

	<%= link_to '/roulette/social' do %>
		<div class="green_button">
			<%= image_tag("random.png") %> Enter Random Chat!
		</div>
	<% end %>
        <% if @theme_chat %>
	<%= link_to "/theme_chat/video/#{@theme_chat.id}" do %>
		<div class="green_button">
                <h4><%= @theme_chat.name %></h4>
                <p><%= @theme_chat.description %></p>
	        <%= image_tag("random.png") %> Join Theme Chat!
		</div>
	<% end %>
        <% end %>

	<p>Find out who's online in the IM Chatroom below, or select the button on the right to start video chatting with other Tartans!</p>
         <!-- Surveys and Topics -->
           <% if @survey %>
	   <div>
             <ul>
             <% for topic in @topics %>     
            <!-- If a user has voted, show them the results -->
               <% if @vote %>
                 <li><%= topic.name %> : <%= topic.count %></li>   
            <!-- Otherwise, let them vote -->
                <% else %>
                  <li><%= topic.name %> : <%= link_to "Vote", "topics/vote/#{@survey.id}/#{topic.id}" %></li>
                <% end %>
             <% end %>
             </ul>
            </div>
           <% end %>
	
	<h2>IM Chatroom</h2>


<div id="chatbox">	
	<div id="active_users">
		<h3>Other users logged on:</h3>
		<% $logged_in_user.each do |i| %>
		<%= User.find(i).username %><br /><br />
		<% end %>
	</div>

	<div id="textbox">
		<ul id="chat">
		  <%= render @messages %>
		</ul>
	</div>
		<%= form_for Message.new, :remote => true do |f| %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.text_field :content %>
		  <%= f.submit "Send" %>
		<% end %>
</div><!-- end chatbox -->

<script type="text/javascript" class="example">
$(document).ready(function()
{
	$('.green_button').qtip({
		content: 'To start a chatting socially with a random Tartan click here!',
		position: {
			my: 'top center',
			at: 'bottom center'
		}
	});
	
	$('#chatbox').qtip({
		content: 'Start text chatting with other users currently in the Social Lobby!',
		position: {
			my: 'top right',
			at: 'bottom center'
		}
	});
	
});
</script>
