<%= stylesheet_link_tag "tokbox_layout", :media => "all" %>
<%= javascript_include_tag "tokbox_layout" %>
<div id = "nextdiv">
  <p>
    How did you like your chat?
    <ul>
       <li><%= link_to "Good, send them my Info!", :roulette %></li>
       <li><%= link_to "I'd rather not disclose my info", :roulette %></li>
       <li><%= link_to "I'd like to report inappropriate behavior", :root %></li>
    </ul>
  </p>
</div>
<div id = "rando_content">
<h1>Welcome to Random Social Chat!</h1>

<div id="videobox">
	<h2>You:</h2>

</div>
<h2>Them:</h2>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
<script type="text/javascript">
        var apiKey = 11368202; 
        var sessionId = "<%= @rando_chat.sessionId %>"; 
        var token = "<%= @tok_token %>"; 


        var session = TB.initSession(sessionId);
        TB.addEventListener('exception', exceptionHandler);

        //Video chat event listeners
        session.addEventListener('sessionConnected', sessionConnectedHandler);
        session.addEventListener('streamCreated', streamCreatedHandler);
        session.addEventListener('streamDestroyed', streamDestroyedHandler);

        session.connect(apiKey,token);

   	function disconnect() {
	  session.disconnect();
          session.cleanup();
	}
  
        function next() {
          disconnect();
          document.getElementById('nextdiv').style.display = 'block';
          document.getElementById('rando_content').style.display = 'none';
        }
</script>
  <div>
    <a href = "#" onclick="disconnect()">Disconnect</a>
    <a href = "#" onclick="next()">Next</a>
    <a href = "#">Report to Admin</a>
  </div>
</div>
