<%= stylesheet_link_tag "tokbox_layout", :media => "all" %>
<%= javascript_include_tag "tokbox_layout" %>

<script type = "text/javascript">
window.onbeforeunload = function (e) {
  jQuery.ajax('/rando_chats/exit_window/<%= @rando_chat.id %>', { method:'get' });
};
</script>
<div id = "nextdiv">
  <p>
    <h2>You're chat just ended. How did you like it?</h2>
		<%= link_to "exchange/#{@rando_chat.id}/true/true/#{@type}" do %>
			<div class="afterchat-button">
				<h3>Good, send them my Info!</h3>
				<%= image_tag('yes.png')%> 
			</div>
		<% end %>
		
		<%= link_to "exchange/#{@rando_chat.id}/false/true/#{@type}" do %>
			<div class="afterchat-button">
				<h3>Please don't disclose my info</h3>
				<%= image_tag('no.png')%> 
			</div>
		<% end %>
		
		<a href = "#" onClick="report()">
			<div class="afterchat-button">
				<h3>Report inappropriate behavior</h3>
				<%= image_tag('report.png')%> 
						</div>
		</a>
  </p>
</div>

<div id = "disconnectdiv">
  <p>
    <h2>You're chat just ended. How did you like it?</h2>
		<%= link_to "exchange/#{@rando_chat.id}/true/false/#{@type}" do %>
			<div class="afterchat-button">
				<h3>Good, send them my Info!</h3>
				<%= image_tag('yes.png')%> 
			</div>
		<% end %>
		<%= link_to "exchange/#{@rando_chat.id}/false/false/#{@type}" do %>
			<div class="afterchat-button">
				<h3>Please don't disclose my info</h3>
				<%= image_tag('no.png')%> 
			</div>
		<% end %>
		
		<a href="#" onClick="report()">
			<div class="afterchat-button">
				<h3>Report inappropriate behavior</h3>
				<%= image_tag('report.png')%> 
			</div>
		</a>
  </p>
</div>

<div id = "reportdiv">
				  <h4>Please give a quick description of the inappropriate behavior</h4>
				  <%= form_for @complaint, :controller => 'complaints', :action => 'create' do |f| %>
				    <%= f.hidden_field :rando_chat_id, :value => @rando_chat.id %>
                                    <%= f.label :description %>
				    <%= f.text_area :description %>
				    <%= f.submit %>
    				<% end %>

</div>

<div id = "rando_content">
	
<h1>Welcome to Random Social Chat!</h1>

		<div id="videobox">
			<h2>You:</h2>
			<div id="them"><h2>Them:</h2></div>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script type="text/javascript">
	        var apiKey = 11368202; 
	        var sessionId = "<%= @rando_chat.sessionId %>"; 
	        var token = "<%= @tok_token %>"; 


	        var session = TB.initSession(sessionId);
	        TB.addEventListener('exception', exceptionHandler);

	        //Video chat event listeners
	        session.addEventListener('sessionConnected', sessionConnectedHandler);
	        session.addEventListener('streamCreated', streamCreatedHandler);
	        session.addEventListener('streamDestroyed', streamDestroyedHandler);

	        session.connect(apiKey,token);

	   	function disconnect() {
		  session.disconnect();
	          session.cleanup();
	          document.getElementById('disconnectdiv').style.display = 'block';
	          document.getElementById('rando_content').style.display = 'none';
		}
  
	        function next() {
	          session.disconnect();
		  session.cleanup();
	          document.getElementById('nextdiv').style.display = 'block';
	          document.getElementById('rando_content').style.display = 'none';
	        }

 		function report() {
		session.disconnect();
		session.cleanup();
		document.getElementById('rando_content').style.display = 'none';
		document.getElementById('nextdiv').style.display = 'none';
		document.getElementById('disconnectdiv').style.display = 'none';
		document.getElementById('reportdiv').style.display = 'block';
		}
	</script>
	  
</div>
<div id="randochat-options">
	<a href = "#" onclick="disconnect()">
		<img src="/assets/icons/glyphicons_197_remove.png"/><br/>
	     Disconnect
	</a>

	<a href = "#" onclick="next()">
		<img src="/assets/icons/glyphicons_211_right_arrow.png"/><br/>
	    Next
	</a>
	<a href = "#" onclick="report()">
		<img src="/assets/icons/glyphicons_199_ban.png"/> <br/>
	    Report to Admin
	</a>
</div>
