<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag :event_calendar %>

<h1>Professional Chat Lobby</h1>
  

<div class="block">
	
	<% if @notifications.nil? %>
		<div id="notifications">
		    <h3>Notifications:</h3> <br/>
		    <!-- Show all pending invites -->
		    <% for notification in @notifications %>
		      <% conf = Conference.find_by_id(notification.conference_id) %>
		      <p><%= link_to "#{conf.name}", conf %></p>
		      <p><%= conf.start_time.strftime("%B %d, %Y at %l:%M%P") %>-<%= conf.start_time.strftime("%l:%M%P") %></p>
		      <p>Hosted by <%= User.find(conf.host_id).first_name%> <%=User.find(conf.host_id).last_name %></p>
		      <p><%= link_to "Confirm Invite", "conferences/#{notification.id}/confirm" %></p>
		          <br />
		    <% end %>
		</div>
	<% else %>
	<% end %>	
	
	<div id="links">
		<%= link_to 'roulette/professional' do %>
			<div class="green_button">
				<%= image_tag("random.png") %> Enter Random Chat!
			</div>
		<% end %>
	
		<%= link_to ("conferences/new") do %>
			<div class="blue_button">
				<%= image_tag("conference.png") %> Create a New Conference
			</div>
		<% end %>
	</div>
</div>
		
	<br/>
	<div id="calendar">
		<h2>Calendar of Conferences</h2>
		<%= raw(event_calendar) %>
	</div>

<script type="text/javascript" class="example">
	$(document).ready(function()
	{
		$('.green_button').qtip({
			content: 'To start a chatting professionally with a random Tartan click here!',
			position: {
				my: 'top center',
				at: 'bottom center'
			}
		});

		$('.blue_button').qtip({
			content: 'To create a private professional conference click here!  You can set the date/time of the conference, add a title/description, and invite other users to attend.',
			position: {
				my: 'top center',
				at: 'bottom center'
			}
		});
		$('#calendar a').qtip({
			content: 'Click here to view event details and join the conference!',
			position: {
				my: 'top center',
				at: 'bottom center'
			}
		});

	});
</script>
