<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag :event_calendar %>

<h1>Professional Chat Lobby</h1>
  

<div class="block">
	
	<% if @notifications.nil? %>
		<div id="notifications">
		    <h3>Notifications:</h3> <br/>
		    <!-- Show all pending invites -->
		    <% for notification in @notifications %>
		      <% conf = Conference.find_by_id(notification.conference_id) %>
		      <p><%= link_to "#{conf.name}", conf %></p>
		      <p><%= conf.start_time.strftime("%B %d, %Y at %l:%M%P") %>-<%= conf.start_time.strftime("%l:%M%P") %></p>
		      <p>Hosted by <%= User.find(conf.host_id).first_name%> <%=User.find(conf.host_id).last_name %></p>
		      <p><%= link_to "Confirm Invite", "conferences/#{notification.id}/confirm" %></p>
		          <br />
		    <% end %>
		</div>
	<% else %>
	<% end %>	
	
	<div id="links">
		<%= link_to (:roulette) do %>
			<div class="green_button">
				<%= image_tag("random.png") %> Enter Random Chat!
			</div>
		<% end %>
	
		<%= link_to ("conferences/new") do %>
			<div class="blue_button">
				<%= image_tag("conference.png") %> Create a New Conference
			</div>
		<% end %>
	</div>
</div>
		
	<br/>
	<div id="calendar">
		<p>Below you can view all the conferences you are invited to and any public conference available for you to join!</p><br/><br/>
		<%= raw(event_calendar) %>
	</div>
