<style type = "text/css">
/* css for timepicker */
        .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; }
        .ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 90%; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
<%= javascript_include_tag 'jquery-1.6.4.min' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'jquery-ui-timepicker-addon' %>
<script type="text/javascript">
  $(function(){ 
  $('#conference_start_time').datetimepicker({dateFormat: 'yy-mm-dd ', timeFormat: 'hh:mm tt', ampm: true});
  $('#conference_end_time').datetimepicker({dateFormat: 'yy-mm-dd ', timeFormat: 'hh:mm tt', ampm: true});

});
                     
</script>


<%= nested_form_for @conference do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Conference Time:" %><br />
  <input type = "text" name="conference[start_time]" id="conference_start_time" value = ""> to <input type = "text" name="conference[end_time]" id="conference_end_time" value = ""> 
 </p>  

  <p>
    <%= f.label "Public?" %>
    <%= f.check_box :public %>
  </p><br />
  <p>
    <%= f.label "Conference Type" %>
    <p>
    <strong>Professional</strong>
    <%= f.radio_button :professional, true %>
    <strong>Academic</strong>
    <%= f.radio_button :professional, false %>
    <br /><br />
  </p> 
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <h3>Invite Guests</h3>
		<p>
	     <%= f.fields_for :user_confs do |builder| %>
			<div id="add_user">
	        	<%= render "user_conf_fields", :f => builder %>
			</div>
	     <% end %>
	  </p>
	
  <p><%= f.link_to_add "+ Add Another User", :user_confs %></p>
  <p><%= f.submit %></p>
<% end %>
