<% title "Conference" %>

<p>
  <strong>Date:</strong>
  <%= @conference.date %>
</p>
<p>
  <strong>Public:</strong>
  <%= @conference.public %>
</p>
<p>
  <strong>Sessionid:</strong>
  <%= @conference.sessionId %>
</p>
<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @conference.description %>
</p>
<p>
  <strong>Host:</strong>
  <%= @conference.host_id %>
</p>

<p>
  <%= link_to "Edit", edit_conference_path(@conference) %> |
  <%= link_to "Destroy", @conference, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", conferences_path %>
</p>
