<% title "Conference" %>

<p>
<% if @conference.start_time <= Time.now and Time.now <= @conference.end_time %>
 <%= link_to "JOIN CONFERENCE", :join_conference, :id => @conference.id, :class =>"join_button" %>
<% end %>
</p>
<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @conference.start_time.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Time:</strong>
  <%= @conference.start_time.strftime("%l:%M%P") %> -
  <%= @conference.end_time.strftime("%l:%M%P") %>
</p>
<p>
  <strong>Public:</strong>
  <%= @conference.public %>
</p>
<p>
  <strong>Type:</strong>
  <% if @conference.professional %>
    <span>Professional</span>
  <% else %>
    <span>Academic</span>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @conference.description %>
</p>
<p>
  <strong>Host:</strong>
  <%= User.find(@conference.host_id).first_name %>
</p>
    <h3>Attending Users</h3>
        <div>
          <% @users.each do |user| %>
                <%=  "#{user.name}" %>
                <br />
          <% end %>
        </div>
        <br />
        <h3>Pending Invitation</h3>
        <div>
          <% @pending.each do |user| %>
                <%= "#{user.name}" %>
          <br />
          <% end %>
        </div>
        <p>
          <% if @user_conference != nil %>
                <%= link_to "Confirm Invitation",:confirm %>
          <% end %>
        </p>
        <p>
          <% if current_user.id == @host.id %>
                <%= link_to "Invite Users", :controller => "invitations", :action => "invite", :id => @conference.id %>
		<p>
  		<%= link_to "Edit", edit_conference_path(@conference) %> |
  		<%= link_to "Destroy", @conference, :confirm => 'Are you sure?', :method => :delete %> |
  		<%= link_to "View All", conferences_path %>
		</p>
          <% end%>
        </p>

<br />

</p>
