<% title "Conference" %>

<p>
  <strong>Start Time:</strong>
  <%= @conference.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @conference.end_time %>
</p>
<p>
  <strong>Public:</strong>
  <%= @conference.public %>
</p>

<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @conference.description %>
</p>
<p>
  <strong>Host:</strong>
  <%= User.find(@conference.host_id).first_name %>
</p>
<p>
  <h3>Invited Users:</h3>
  <ul>
  <% @conference.users.each do |u| %>
    <li><%= u.first_name %></li>
  <% end %>
  </ul>
</p>
<p>
  <%= link_to "Edit", edit_conference_path(@conference) %> |
  <%= link_to "Destroy", @conference, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", conferences_path %>
</p>

<br />
<p>
<% if @conference.start_time <= Time.now and Time.now <= @conference.end_time %>
 <%= link_to "JOIN CONFERENCE", :join_conference, :id => @conference.id %>
<% end %>
</p>
</p>
