<% title "Conference" %>

<p>
  <strong>Start Time:</strong>
  <%= @conference.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @conference.end_time %>
</p>
<p>
  <strong>Public:</strong>
  <%= @conference.public %>
</p>

<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @conference.description %>
</p>
<p>
  <strong>Host:</strong>
  <%= User.find(@conference.host_id).first_name %>
</p>

<p>
  <%= link_to "Edit", edit_conference_path(@conference) %> |
  <%= link_to "Destroy", @conference, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", conferences_path %>
</p>
