<h1>Welcome, <%= current_user.first_name%>!</h1>
<p>To begin chatting with other Tartans, select one of the links below:</p>


	<div id="bigbuttons">
		
		
		<%= link_to('messages') do %>
			<div class="message-button" id="1">
				<h2>Social</h2>
				<%= image_tag('social.png')%> 
			</div>
		<% end %>

		<%= link_to('calendar') do %>
			<div class="message-button" id="2">
				<h2>Professional</h2>
				<%= image_tag('professional.png')%> 
			</div>
		<% end %>

		<%= link_to('calendar') do %>
			<div class="message-button" id="3">
				<h2>Academic</h2>
				<%= image_tag('academic.png')%> 
			</div>
		<% end %>
	</div>

	<script type="text/javascript" class="example">
	$(document).ready(function()
	{
		$('.message-button#1').qtip({
			content: 'In the Social hub, you can engage in text or randomized video chat with other Tartans!',
			position: {
				my: 'top center',
				at: 'bottom center'
			}
		});
		
		$('.message-button#2').qtip({
			content: 'In the Professional hub, you can schedule private meetings with CPDC staff, peers, advisors, and randomized chat for professionals.',
			position: {
				my: 'top center',
				at: 'bottom center'
			},
		});
		
		$('.message-button#3').qtip({
			content: 'In the Academic hub, you can engage in private group conferences for academic collaboration and group sessions!',
			position: {
				my: 'top center',
				at: 'bottom center'
			}
		});
	});
	</script>
	

	<div id="twitter">
		<h2>CMU Connect News</h2>
		
		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 775,
			  height: 200,
			  theme: {
			    shell: {
			      background: '#cfe2ee',
			      color: '#000000'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#000000',
			      links: '#00afef'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('CMU_Connect').start();
			</script>
		</div>

	

