<h1>Welcome, <%= current_user.username%>!</h1>
<p>To begin chatting with other Tartans, select one of the links below:</p>

		<%= link_to('messages') do %>
			<div class="message-button">
				<h2>Social</h2>
				<%= image_tag('social.png')%> 
			</div>
		<% end %>

		<%= link_to('messages') do %>
			<div class="message-button">
				<h2>Professional</h2>
				<%= image_tag('professional.png')%> 
			</div>
		<% end %>

		<%= link_to('messages') do %>
			<div class="message-button">
				<h2>Academic</h2>
				<%= image_tag('academic.png')%> 
			</div>
		<% end %>



<h2>CMU Connect's Themed Chats</h2>

	<div id="twitter">
		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 775,
			  height: 200,
			  theme: {
			    shell: {
			      background: '#cfe2ee',
			      color: '#000000'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#000000',
			      links: '#00afef'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('CMU_Connect').start();
			</script>
		</div>

	

