<% title "Complaints" %>

<table>
  <tr>
    <th>Username</th>
	<th>Description</th>
    
  </tr>
  <% for complaint in @complaints %>
    <tr>
	  <td><%= complaint.user.first_name %></td>
	  <td><%= complaint.description %></td> 
	  <td><%= link_to "Show", complaint %></td>
      <td><%= link_to "Destroy", complaint, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Complaint", new_complaint_path %></p>
