<% title "Complaints" %>

<table>
  <tr>
    <th>Reported User</th>
    <th>Submitted By</th>
    <th>Description</th>
  </tr>
  <% for complaint in @complaints %>
    <tr>
	  <td><%= complaint.to_user %></td>
	  <td><%= complaint.from_user %></td>
	  <td><%= complaint.description %></td> 
	  <td><%= link_to "Show", complaint %></td>
      <td><%= link_to "Destroy", complaint, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Complaint", new_complaint_path %></p>
