<%= nested_form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <h3>Add Topics</h3>
  <p>
     <%= f.fields_for :topics do |builder| %>
         <div id="add_topic">
           <%= render "topic_fields", :f => builder %>
         </div>
           <% end %>
  </p>

  <p><%= f.link_to_add "+ Add Another Topic", :topics %></p>

  <p><%= f.submit %></p>
<% end %>
