<% title "Survey" %>

<p>
  <strong>Start Date:</strong>
  <%= @survey.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @survey.end_date %>
</p>
<div>
  <h3>Topics:</h3>
  <ul>
  <% for topic in @topics %>
    <li><%= topic.name %> : <%= topic.count %></li>
  <% end %>
  </ul>
</div>
<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
