<% title "Survey" %>

<p>
  <strong>Start Date:</strong>
  <%= @survey.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @survey.end_date %>
</p>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
