<% if current_user %>
<p>&nbsp;</p>

<div id="navigation">

	<div id="copy">
		<%= link_to 'Home', welcome_path %>
		<%= link_to 'My Account', edit_user_path(current_user) %>
		<%= link_to 'Social', messages_path %>
		<%= link_to 'Professional', messages_path %>
		<%= link_to 'Academic', messages_path %>
		<%= link_to 'Privacy',  privacy_path %>
		<%= link_to 'Contact Us', contact_path %>
		<%= link_to 'Logout', logout_path %>
		
	</div>

</div>
<% end %>