<% if current_user %>
<p>&nbsp;</p>

<div id="navigation">

	<div id="copy">
		<ul>
		<li><%= link_to 'Home', welcome_path %></li>
		<li><%= link_to 'Social', messages_path %></li>
		<li><%= link_to 'Professional', messages_path %></li>
		<li><%= link_to 'Academic', messages_path %></li>
		<li><%= link_to 'My Account', edit_user_path(current_user) %></li>	
		<li><%= link_to 'Logout', logout_path %></li>
		<ul>
	</div>

</div>
<% end %>